:root {
  --pri: #f8f4e1;
  --sec: #381c0a;
  --tri1: #feba17;
  --tri2: #74512d;
}

@font-face {
  font-family: Aeonik;
  font-weight: 200;
  src: url(Fonts/Aeonik-Light.ttf);
}
@font-face {
  font-family: Aeonik;
  font-weight: 500;
  src: url(Fonts/Aeonik-Regular.ttf);
}
@font-face {
  font-family: Aeonik;
  font-weight: 700;
  src: url(Fonts/Aeonik-Bold.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Aeonik;
  color: var(--pri);
}
html,
body {
  height: 100%;
  width: 100%;
}

::-webkit-scrollbar {
  display: none;
}

.main {
  width: 100%;
  height: 100%;
  background-color: var(--sec);
}

nav {
  width: 100%;
  height: 60px;
  background-color: var(--tri2);
  position: fixed;
}

section.allElems {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  padding: 2rem;
  padding-top: 5rem;
}

.elem {
  position: relative;
  width: 18.6%;
  height: 350px;
  border-radius: 1rem;
  overflow: hidden;
  cursor: pointer;
  transition: all ease 0.2s;
}

.elem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 18%;
  transition: all ease 0.2s;
}

.elem h2 {
  position: absolute;
  font-weight: 500;
  bottom: 1rem;
  right: 1.2rem;
}

.elem:hover img {
  scale: 0.99;
  filter: blur(5px);
}

/* .elem:active {
  scale: 0.97;
} */

section.fullElem {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--sec);
}

.close {
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: medium;
  font-weight: 500;
  padding: 0.5rem 1rem;
  background-color: var(--tri1);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all ease 0.2s;
}

button:active {
  scale: 0.97;
}

.fullElem {
  padding: 1rem 2rem;
}

.fullElem h2 {
  font-size: 3rem;
}

/* To Do Page Start Here */
.todo-list-fullpage .todo-container {
  width: 100%;
  height: 83%;
  margin-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.todo-list-fullpage .todo-container .addTask {
  width: 33%;
  height: 100%;
  background-color: var(--tri2);
  border-radius: 1.5rem;
}

.todo-list-fullpage .todo-container .addTask form {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 1rem;
}

.todo-container .addTask form input,
.todo-container .addTask form textarea,
.todo-container .addTask form button {
  font-size: large;
  padding: 1rem 1.5rem;
  background-color: var(--pri);
  color: var(--sec);
  border: none;
  outline: none;
  border-radius: 8px;
}

.todo-container .addTask form textarea {
  height: 300px;
  resize: none;
}

.todo-container .addTask form div input {
  scale: 1.5;
}

.todo-container .addTask form div label {
  font-size: large;
  margin-left: 10px;
}

.todo-container .addTask form button {
  background-color: var(--tri1);
  font-size: larger;
  font-weight: 700;
  transition: all ease 0.2s;
  padding: 0.7rem;
}

/* .todo-container .addTask form button:active {
  scale: 0.98;
} */

.todo-list-fullpage .todo-container .allTask {
  width: 65%;
  height: 100%;
  background-color: var(--tri2);
  border-radius: 1.5rem;
  padding: 2rem;
  overflow: auto;
}

.todo-container .allTask .task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.7rem 1rem;
  background-color: var(--pri);
  border-radius: 5px;
  margin-bottom: 0.5rem;
}

.todo-container .allTask .task h5 {
  color: var(--sec);
  font-size: larger;
  display: flex;
  align-items: flex-start;
  gap: 0.7rem;
}

.todo-container .allTask .task h5 span {
  font-size: 0.7rem;
  background-color: red;
  color: var(--pri);
  padding: 2px 6px;
  border-radius: 1rem;
}

.todo-container .allTask .task h5 span.true {
  opacity: 1;
}
.todo-container .allTask .task h5 span.false {
  opacity: 0;
}

.todo-container .allTask .task button {
  background-color: green;
  color: var(--pri);
  font-size: medium;
  padding: 0.5rem 1rem;
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all ease 0.2s;
}

/* To Do Page Ends Here */

/* Daily Planner Start Here */
.daily-planner-fullpage .day-planner {
  width: 100%;
  height: 83%;
  margin-top: 3rem;
  background-color: var(--tri2);
  border-radius: 1.5rem;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
  gap: 1rem;
  overflow: auto;
}

.day-planner .day-planner-time {
  width: 49%;
  height: max-content;
  background-color: var(--sec);
  border-radius: 0.5rem;
  position: relative;
}

.day-planner .day-planner-time p {
  position: absolute;
  top: 12%;
  left: 1%;
  font-weight: 600;
}

.day-planner .day-planner-time input {
  width: 100%;
  padding: 1.8rem 2rem 1rem 2rem;
  font-size: large;
  background-color: transparent;
  outline: none;
  border: none;
  border-radius: 0.5rem;
}
/* Daily Planner Ends Here */
