/* :root {
  --pri: #f8f4e1;
  --sec: #381c0a;
  --tri1: #feba17;
  --tri2: #74512d;
  --green: rgb(9, 138, 89);
  --blue: rgb(0, 191, 225);
  --red: red;
} */
:root {
  --pri: #eeeeee;
  --sec: #393e46;
  --tri1: #d65a31;
  --tri2: #222831;
  --green: rgb(9, 138, 89);
  --blue: rgb(0, 191, 225);
  --red: rgba(255, 0, 0, 0.804);
}

@font-face {
  font-family: Aeonik;
  font-weight: 200;
  src: url(Fonts/Aeonik-Light.ttf);
}
@font-face {
  font-family: Aeonik;
  font-weight: 500;
  src: url(Fonts/Aeonik-Regular.ttf);
}
@font-face {
  font-family: Aeonik;
  font-weight: 700;
  src: url(Fonts/Aeonik-Bold.ttf);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Aeonik;
  color: var(--pri);
}
html,
body {
  height: 100%;
  width: 100%;
}

::-webkit-scrollbar {
  display: none;
}

.main {
  width: 100%;
  height: 100%;
  background-color: var(--sec);
}

nav {
  width: 100%;
  height: 60px;
  background-color: var(--tri2);
  position: fixed;
}

section.allElems {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 2rem;
}

.allElems header {
  width: 100%;
  height: 45%;
  background: url(https://images.unsplash.com/photo-1514519273132-6a1abd48302c?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: 0 55%;
  border-radius: 1rem;
  margin-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 2rem 4rem;
}

header .header1 h1 {
  font-size: 4rem;
  margin-bottom: 3rem;
}

header .header1 h2,
header .header1 h3 {
  font-size: 2rem;
  font-weight: 500;
}

header .header2 {
  text-align: right;
}

header .header2 h1 {
  font-size: 3.5rem;
}

header .header2 h2 {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 2rem;
}

header .header2 h3 {
  font-size: 1.2rem;
  font-weight: 500;
}

.allElems .features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5rem;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.elem {
  position: relative;
  width: 18.65%;
  height: 350px;
  border-radius: 1rem;
  overflow: hidden;
  cursor: pointer;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
}

.elem img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 18%;
  object-position: 18%;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
}

.elem h2 {
  position: absolute;
  font-weight: 500;
  bottom: 1rem;
  right: 1.2rem;
}

.elem:hover img {
  scale: 0.99;
  -webkit-filter: blur(5px);
  filter: blur(5px);
}

/* .elem:active {
  scale: 0.97;
} */

section.fullElem {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--sec);
}

.close {
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: medium;
  font-weight: 500;
  padding: 0.5rem 1rem;
  background-color: var(--red);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
}

button:active {
  scale: 0.97;
}

.fullElem {
  padding: 1rem 2rem;
}

.fullElem h2 {
  font-size: 3rem;
  color: var(--tri1);
}

/* To Do Page Start Here */
.todo-list-fullpage .todo-container {
  width: 100%;
  height: 83%;
  margin-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.todo-list-fullpage .todo-container .addTask {
  width: 33%;
  height: 100%;
  background-color: var(--tri2);
  border-radius: 1.5rem;
}

.todo-list-fullpage .todo-container .addTask form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 2rem;
  gap: 1rem;
}

.todo-container .addTask form input,
.todo-container .addTask form textarea,
.todo-container .addTask form button {
  font-size: large;
  padding: 1rem 1.5rem;
  background-color: var(--pri);
  color: var(--sec);
  border: none;
  outline: none;
  border-radius: 8px;
}

.todo-container .addTask form textarea {
  height: 300px;
  resize: none;
}

.todo-container .addTask form div input {
  scale: 1.5;
}

.todo-container .addTask form div label {
  font-size: large;
  margin-left: 10px;
}

.todo-container .addTask form button {
  background-color: var(--tri1);
  font-size: larger;
  font-weight: 700;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
  padding: 0.7rem;
}

/* .todo-container .addTask form button:active {
  scale: 0.98;
} */

.todo-list-fullpage .todo-container .allTask {
  width: 65%;
  height: 100%;
  background-color: var(--tri2);
  border-radius: 1.5rem;
  padding: 2rem;
  overflow: auto;
}

.todo-container .allTask .task {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0.7rem 1rem;
  background-color: var(--pri);
  border-radius: 5px;
  margin-bottom: 0.5rem;
}

.todo-container .allTask .task h5 {
  color: var(--sec);
  font-size: larger;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  gap: 0.7rem;
}

.todo-container .allTask .task h5 span {
  font-size: 0.7rem;
  background-color: var(--red);
  color: var(--pri);
  padding: 2px 6px;
  border-radius: 1rem;
}

.todo-container .allTask .task h5 span.true {
  opacity: 1;
}
.todo-container .allTask .task h5 span.false {
  opacity: 0;
}

.todo-container .allTask .task button {
  background-color: green;
  color: var(--pri);
  font-size: medium;
  padding: 0.5rem 1rem;
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
}

/* To Do Page Ends Here */

/* Daily Planner Start Here */
.daily-planner-fullpage .day-planner {
  width: 100%;
  height: 83%;
  margin-top: 3rem;
  background-color: var(--pri);
  border-radius: 1.5rem;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  gap: 1rem;
  overflow: auto;
}

.day-planner .day-planner-time {
  width: 49%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  background-color: var(--tri2);
  border-radius: 0.5rem;
  position: relative;
}

.day-planner .day-planner-time p {
  position: absolute;
  top: 12%;
  left: 1%;
  font-weight: 600;
}

.day-planner .day-planner-time input {
  width: 100%;
  padding: 1.8rem 2rem 1rem 2rem;
  font-size: large;
  background-color: transparent;
  outline: none;
  border: none;
  border-radius: 0.5rem;
}
/* Daily Planner Ends Here */

/* Motivational Quote Start Here */
.motivational-fullpage .motivational-container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 2rem;
}

.motivational-fullpage .motivational-container .motivational-wrapper {
  min-width: 50%;
  max-width: 75%;
  position: relative;
  background-color: var(--tri2);
  border-radius: 1.2rem;
  padding: 5rem 2rem 3rem 2rem;
  border: 5px solid var(--tri1);
  -webkit-box-shadow: 0px 0px 50px 10px var(--tri2);
  box-shadow: 0px 0px 50px 10px var(--tri2);
}

.motivational-container .motivational-wrapper h3 {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background-color: black;
  padding: 0.5rem 5rem;
  border-radius: 5rem;
  font-size: 2.3rem;
  font-weight: 500;
  position: absolute;
  top: -1.3rem;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

.motivational-container .motivational-wrapper img {
  width: 5rem;
  position: absolute;
  top: 0;
  right: 5%;
  opacity: 0.35;
}

.motivational-container .motivational-wrapper h2 {
  text-align: center;
}

.motivational-container .motivational-wrapper h5 {
  color: var(--tri1);
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  text-align: end;
  margin-top: 1rem;
}
/* Motivational Quote Ends Here */

/* Pomodoro Timer Start Here */
.pomodoro-fullpage {
  position: relative;
}

.pomodoro-fullpage .pomo-timer {
  position: absolute;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.pomodoro-fullpage .pomo-timer h1 {
  font-size: 8rem;
}

.pomodoro-fullpage .pomo-timer .session {
  font-size: 1.5rem;
  background-color: var(--green);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.8rem 2rem;
  border-radius: 5px;
  margin: auto;
  margin-bottom: 1rem;
}

.pomodoro-fullpage .pomo-timer button {
  font-size: 1.5rem;
  font-weight: 700;
  background-color: var(--tri2);
  padding: 1rem 2rem;
  margin: 1rem;
  outline: none;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 6px 6px 0 black;
  box-shadow: 6px 6px 0 black;
  -webkit-transition: all ease 0.1s;
  transition: all ease 0.1s;
}

.pomodoro-fullpage .pomo-timer button:active {
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* Pomodoro Timer Ends Here */

/* Daily Goals Start Here */
.daily-goals-fullpage .goals-container {
  width: 100%;
  height: 83%;
  margin-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.goals-container .addGoal {
  width: 29%;
  height: 100%;
  background-color: var(--pri);
  border-radius: 1rem;
  padding: 1.5rem;
}

.goals-container .allGoals {
  width: 69%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 0.8rem;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  overflow: auto;
}

.goals-container .addGoal form input,
.goals-container .addGoal form textarea,
.goals-container .addGoal form button {
  width: 100%;
  padding: 1rem;
  font-size: large;
  color: var(--sec);
  outline: none;
  border: none;
  border-radius: 5px;
  margin-bottom: 1rem;
  -webkit-box-shadow: 0 0px 2px var(--tri1);
  box-shadow: 0 0px 2px var(--tri1);
}

.goals-container .addGoal form textarea {
  height: 300px;
  resize: none;
}

.goals-container .addGoal form button {
  background-color: var(--tri1);
  color: var(--pri);
  font-size: larger;
  font-weight: 700;
}

.goals-container .allGoals .goal {
  width: 32.4%;
  background-color: var(--tri1);
  border-radius: 0.5rem;
  padding: 1rem 1.5rem;
  position: relative;
}

.goals-container .allGoals .goal input {
  position: absolute;
  scale: 1.8;
  top: 15%;
  right: 8%;
}

.goals-container .allGoals .goal h3 {
  font-size: 1.5rem;
}

.goals-container .allGoals .goal p {
  margin: 0.5rem 0;
}

.goals-container .allGoals .goal span {
  display: block;
  font-size: small;
  text-align: right;
}
/* Daily Goals Ends Here */
